body
{
	 background-color: rgb(230,230,250);

} 
p
{ 

	font-size: 80px;
font-family: 'Great Vibes', cursive;
	text-shadow:  2px 2px #ff0000;
}
.xyz
{
	background-color: rgb(205,92,92)

}
#sign
{
	text-align: center;
}


   